@import '../../vars.css';

.footer{
 
  width: 100%;
  background-color: var(--color-bgdark);
  display:flex;
  height:100px;
}
.footer .container{
  align-content: center;
  width: 100%;
}
 .bottomFooter{
  color: var(--color-bglight);
   height: 30px;
   background-color: #191717;
   width:100%;
   font-size: 20px;
  gap: 40px;
   padding:5px;
   display: flex;
   

}
.bottomFooter .container{
  width: 100%;
}
.bottomFooter a{
   color:var(--color-bglight);
   text-decoration: none;
   text-transform: lowercase;
   font-size: 18px;
}