:root {
    /*colors*/
     --color-bgdark: #2A2C2E;
     --color-bgdarkhover: #212529;
     --color-bglight: #ffffff;
     --color-btnbg:  #f5c411;
     --color-btnbghover:  #f4cf47dd;
     --color-fadetext: rgba(225, 222, 222, 0.8);

}